@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
body{
    background-image: url(../imgs/poz.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
}
#kontejner{
    width: 1000px;
    margin: 10px auto;

}

/*Header*/
header{
    display: flex;
    width: 100%;
    height: 70px;
    background-color:linen;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.logo{
    width: 10%;
}
.title{
    width: 35%;
}
.nav{
    display: inline-block;
    width: 55%;
}
.nav ul {
    list-style-type: none;
}
.title h2{
    color: rgb(15 11 30);
    font-family: 'Courgette', cursive;
}
.logo img{
    height: 65px;
    margin: 3px;
    margin-left: 10px;
    opacity: 0.7;
    border-radius: 50%;    
}
.nav a{
    display: block;
    padding: 10px 35px;
    background-color: rgb(15 11 30);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.5s linear, border-radius 0.5s linear;
}
.nav a:hover{
    border-radius: 5px;
    background-color: rgb(15 11 100);
}

li{
    display: inline-block;
    font-weight: bold;
}

/*Panorama*/
main{
    width: 100%;
}
.sec1 {
    width: 100%;
    margin: 20px 0px;
}
.sec1 img{
    width: 100%;
    height: auto;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 0.95;
    transition: opacity 2s linear;
}
.sec1 img:hover{
    opacity: 0.7;
}
.sec2{
    display: inline-block;
    width: 59.6%;
    margin: 20px 0px;
}
.sec2 iframe{
    border: none;
    margin-right: 20px;
    width: 100%;
    height: 410px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
.sec3{
    display: inline-block;
    width: 40%;
    height: 410px;
    margin: 20px 0px;
    text-align: justify;
    vertical-align: top;
    padding: 20px;
    box-sizing: border-box;
    background-color: linen;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
}
#forma{
    width: 100%;
    background-color: rgb(15 11 30);
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 20px 0px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
}
.naslov{
    color: linen;
    text-align: left;
    padding-bottom: 15px;
}
.komentar {
    vertical-align: top;
}
td {
    text-align: left;
    padding-bottom: 15px;
}
.kontakt-tabela, input, textarea {
    width: 100%;
    box-sizing: border-box;
}
input, textarea{
    padding: 10px;
    border-radius: 3px;
    border: 0px;
    font-family: sans-serif;
}
.submit-dugme{
    color: rgb(15 11 70);
    text-transform: uppercase;
    font-weight: bold;
    background-color: linen;
    border-color: #4cae4c;
    cursor: pointer;
    transition: background 0.5s linear;
}
.submit-dugme:hover{
    color: rgb(15 11 70);
    background-color: lightpink;
    border-color: #398439;
}

#forma h1{
    text-align: center;
    font-size: 2em;
    padding-bottom: 15px;
    color: linen;
    text-shadow: 2px 2px 5px lightpink;
}
/*Footer*/
footer{
    display: flex;
    height: 150;
    background-color: linen;
}
.left{
    width: 40%
}
.left iframe{
    margin: 10px;
    width: 100%;
    height: auto;
    
}
.right{
    width: 70%;
    margin: 30px;
}
.right table{
    padding-top: 10px;
}
.right td{
    padding: 18px;
    text-align:center;
    font-size: 90%;
}
.right a{
    color: black;
    text-decoration: none;
}
.right a:hover{
    color: rgb(15 11 70);
    
}
.right .fas{
    color: rgb(15 11 70);
    font-size: 24px;
}
.right .fas:hover{
    color: blue;
}
